<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngangavic.test">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".firebasestorage.ViewActivity"/>
        <activity android:name=".firebasestorage.StorageActivity" />
        <activity android:name=".fcm.CloudMessagingActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4053013591119437~5641151139" />

        <activity android:name=".googleadmob.GoogleAdMobActivity" />
        <activity android:name=".workmanager.SelectActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity
            android:name=".bottomnav.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />

        <service
            android:name=".jobscheduler.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".jobscheduler.JobSchedulerActivity" />
        <activity android:name=".notifications.NotificationActivity" />
        <activity android:name=".toast.ToastActivity" />
        <activity
            android:name=".fancyprogress.LightProgressActivity"
            android:theme="@style/AppTheme.LightProgress" />
        <activity
            android:name=".contextmenu.ContextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".download.PDFDownloadActivity" />
        <activity
            android:name=".maps.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".service.ServicesActivity" />
        <activity android:name=".recorder.RecorderActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".internet.InternetActivity" />
        <activity android:name=".sharedprefs.SharedPrefsActivity" />
        <activity android:name=".rv.RVActivity" />
        <activity android:name=".BinaryActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".PoloActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".service.MyService"
            android:enabled="true" />
    </application>

</manifest>